{% extends 'desa/main.html' %}
{% block content %}    
    <br>
    <h3>Biodata Pelamar</h3>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Simpan</button>
    </form>
    <p></p>    
{% endblock %}