{% extends 'desa/main.html' %}
{% block content %}            
    <h3>Detail Biodata {{ uas.nama }} ({{ uas.nik }})</h3>
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">NIK</label>
            <input type="text" disabled style="width: 50%;" class="form-control" value="{{ uas.nik }}">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nama</label>
            <input type="text" disabled style="width: 50%;" class="form-control" value="{{ uas.nama }}">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Tempat Tgl Lahir</label>
            <input type="text" disabled style="width: 50%;" class="form-control" value="{{ uas.ttl }}">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Alamat</label>
            <input type="text" disabled style="width: 50%;" class="form-control" value="{{ uas.alamat }}">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Usia</label>
            <input type="text" disabled style="width: 50%;" class="form-control" value="{{ uas.usia }}">
        </div>
        <div class="mb-3">            
            <label for="exampleInputEmail1" class="form-label">Jenis Kelamin</label>
            <input type="text" disabled style="width: 50%;" class="form-control"
            value="{% if uas.jk == 'lk' %}Laki-laki{% else %}Perempuan{% endif %}">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Agama</label>
            <input type="text" disabled style="width: 50%;" class="form-control" value="{{ uas.agama }}">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nomor HP</label>
            <input type="text" disabled style="width: 50%;" class="form-control" value="{{ uas.hp }}">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Pendidikan Terakhir</label>
            <input type="text" disabled style="width: 50%;" class="form-control"
            value="{% if uas.pendidikan == 'sd' %}SD{% elif uas.pendidikan == 'sp' %}SMP{% elif uas.pendidikan == 'sa' %}SMA{% elif uas.pendidikan == 'dp' %}Diploma{% elif uas.pendidikan == 'sr' %}Sarjana{% else %}Magister{% endif %}">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Status</label>
            <input type="text" disabled style="width: 50%;" class="form-control"
            value="{% if uas.status == 'bm' %}Belum Menikah{% elif uas.status == 'cr' %}Cerai{% else %}Menikah{% endif %}">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Riwayat Penyakit</label>
            <input type="text" disabled style="width: 50%;" class="form-control" value="{{ uas.riwayat }}">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Posisi yang Dilamar</label>
            <input type="text" disabled style="width: 50%;" class="form-control"
            value="{% if uas.posisi == 'sk' %}Sekretaris Desa{% elif uas.posisi == 'tu' %}Kaur Tata Usaha dan Umum{% elif uas.posisi == 'ug' %}Kaur Keuangan{% elif uas.posisi == 'rc' %}Kaur Perencanaan{% elif uas.posisi == 'pm' %}Kasi Pemerintahan{% elif uas.posisi == 'ks' %}Kasi Kesejahteraan{% else %}Kasi Pelayanan{% endif %}">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Tgl Daftar</label>
            <input type="text" disabled style="width: 50%;" class="form-control" value="{{ uas.tgl_daftar }}">
        </div>        
        <a class="btn btn-warning" href="{% url 'alat_edit' uas.id %}">Edit</a>
        <a class="btn btn-danger" href="{% url 'alat_delete' uas.id %}">Hapus</a>
    </form>
    <p></p>    
{% endblock %}