{% extends 'desa/main.html' %}
{% block content %}    
    <h3>Warning!</h3>
    <p>Apakah anda yakin menghapus data {{ uas.nama }} ({{ uas.nik }}) ?</p>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Hapus</button>
    </form>
{% endblock %}