{% extends 'desa/main.html' %}
{% block content %}    
    <h3>Daftar Calon Perangkat</h3>
    <br>
	{% for bio in uas %}
        <h5><a href="{% url 'alat_detail_view' bio.id %}">{{ bio.nik }}</a></h5>
        <b>Nama :</b>      
        {{ bio.nama }}
        <b>Jenis Kelamin :</b>
        {% if bio.jk == 'lk' %}
            Laki-laki
                {% else %}
                    Perempuan
        {% endif %}
        <b>Posisi :</b>
        {% if bio.posisi == 'sk' %}
            <td>Sekretaris Desa</td>
            {% elif bio.posisi == 'tu' %}
                <td>Kaur Tata Usaha dan Umum</td>
                {% elif bio.posisi == 'ug' %}
                    <td>Kaur Keuangan</td>
                    {% elif bio.posisi == 'rc' %}
                        <td>Kaur Perencanaan</td>		
                        {% elif bio.posisi == 'pm' %}
                            <td>Kasi Pemerintahan</td>		
                            {% elif bio.posisi == 'ks' %}
                            <td>Kasi Kesejahteraan</td>
                                {% else %}
                                    <td>Kasi Pelayanan</td>
        {% endif %}
        <b>Tgl Daftar :</b>
        {{ bio.tgl_daftar }}		
		<p></p>
	{% endfor %}       
    <p></p>    
{% endblock %}