<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>SI Daftar | Admin</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body style="background: #fff; color: #203146">
	<br><br>
	<div style="margin-left: 50px; margin-right: 50px;">
		<h1>{{ judul }}</h1>
		<hr>
	</div>

	<div class="container">
		<br>
		<h3>{{ info }}</h3>
		<hr>			

	{% block content %}
	{% endblock %}

	</div><br>

	<div style="margin-left: 50px; margin-right: 50px;">
		<hr>
		<h4 align="center">by : {{ oleh }}</h4>
	</div>
</body>

</html>